<img src="Images/PU.png" width="100%">

## Course Name : Python for Data Analysis 

** Important ! ** For internal circulation olny

## Creating Panda Series

In [1]:
import pandas as pd
import numpy as np

First revise how we created arrays using **Numpy**

In [2]:
np_array = np.array([1, 2.3, 1, 7.1, 8])
np_array

array([1. , 2.3, 1. , 7.1, 8. ])

See how pandas **Series** is different

In [3]:
ps = pd.Series([1, 2.3, 1, 7.1, 8])
ps

0    1.0
1    2.3
2    1.0
3    7.1
4    8.0
dtype: float64

**Data** and **Index** can be accessed seperately

In [4]:
ps.values

array([1. , 2.3, 1. , 7.1, 8. ])

In [5]:
ps.index

RangeIndex(start=0, stop=5, step=1)

How to access individual element

In [6]:
ps[2]

1.0

### Series as generalized NumPy array

In [8]:
ps = pd.Series([1, 2.0, 3, 4], index=['a', 'b', 'c', 'd'])
ps

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [9]:
ps['c']

3.0

### Series as specialized dictionary

In [10]:
Dict = {        'India'      : 'Blue',
                'Australia'  : 'Yellow',
                'Newzeland'  : 'Black',
                'WestIndies' : 'Red',
                'SouthAfrica': 'Green'
        }


S = pd.Series(Dict)
S

India            Blue
Australia      Yellow
Newzeland       Black
WestIndies        Red
SouthAfrica     Green
dtype: object

In [12]:
S.index

Index(['India', 'Australia', 'Newzeland', 'WestIndies', 'SouthAfrica'], dtype='object')

In [13]:
S.values

array(['Blue', 'Yellow', 'Black', 'Red', 'Green'], dtype=object)

In [11]:
S['Australia']

'Yellow'

### Creating Panda DataFrame from two-dimensional NumPy array

In [14]:
df = pd.DataFrame(np.random.rand(3, 2),
                columns=['Apple', 'Oranges'],
                 index=['a', 'b', 'c']  )
df

      Apple   Oranges
a  0.285441  0.150739
b  0.026714  0.234164
c  0.010358  0.951807

In [15]:
df['Apple']

a    0.285441
b    0.026714
c    0.010358
Name: Apple, dtype: float64

In [16]:
df['Apple']['b']

0.0267140324722982