<img src="Images/PU.png" width="100%">

## Course Name : Python for Data Analysis 

** Important ! ** For internal circulation olny

## Creating Panda Series

In [2]:
import pandas as pd
import numpy as np

First revise how we created arrays using **Numpy**

In [3]:
np_array=np.array([1,2.3, 1, 7.1,8])
np_array

array([ 1. ,  2.3,  1. ,  7.1,  8. ])

See how pandas **Series** is different

In [4]:
ps = pd.Series([1,2.3, 1, 7.1,8])
ps

0    1.0
1    2.3
2    1.0
3    7.1
4    8.0
dtype: float64

**Data** and **Index** can be accessed seperately

In [5]:
ps.values

array([ 1. ,  2.3,  1. ,  7.1,  8. ])

In [7]:
ps.index

RangeIndex(start=0, stop=5, step=1)

How to access individual element

In [8]:
ps[2]

1.0

### Series as generalized NumPy array

In [9]:
ps = pd.Series([1, 2.0, 3, 4], index=['a', 'b', 'c', 'd'])

In [10]:
ps['c']

3.0

### Series as specialized dictionary

In [11]:
Dict = {        'India'      : 'Blue',
                'Australia'  : 'Yellow',
                'Newzeland'  : 'Black',
                'WestIndies' : 'Red',
                'SouthAfrica': 'Gareen'
        }


S = pd.Series(Dict)

In [12]:
S['Australia']

'Yellow'

### Creating Panda DataFrame from two-dimensional NumPy array

In [13]:
df=pd.DataFrame(np.random.rand(3, 2),
                columns=['Apple', 'Oranges'],
                 index=['a', 'b', 'c']  )
df

      Apple   Oranges
a  0.303532  0.304293
b  0.111091  0.213225
c  0.779210  0.840350

In [14]:
df['Apple']

a    0.303532
b    0.111091
c    0.779210
Name: Apple, dtype: float64

In [15]:
df['Apple']['b']

0.11109109512238635